body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #FAF7F9;
  color: #0E0631;
  max-width: 58rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 9rem; }
  body * {
    box-sizing: inherit; }
  body *:before, body *:after {
    box-sizing: inherit; }
  body *:focus {
    outline: 2px solid #5CA3A2; }
    @media (pointer: coarse) {
      body *:focus {
        outline: none; } }
  @media (min-width: 568px) {
    body {
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media (min-width: 1440px) {
    body {
      font-size: calc(9.57143px + .44643vw);
      max-width: 68rem; } }

.title {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 3rem; }
  @media (min-width: 568px) {
    .title {
      margin-top: 3.5rem;
      font-size: 2.5rem; } }

.sub-title {
  line-height: normal;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1.5rem; }
  .sub-title__badge {
    margin-left: 0.5rem;
    color: #888888;
    font-weight: normal; }

.question {
  padding: 1.75rem;
  background-color: #FFFFFF;
  margin-bottom: 1.5rem;
  border-radius: 1.5rem;
  overflow-x: auto; }
  .question__title {
    display: block;
    color: #393A44;
    font-weight: bold;
    margin-bottom: 1.5rem; }
    @media (min-width: 568px) {
      .question__title {
        text-align: center; } }
  .question__choice {
    display: flex;
    position: relative;
    align-items: flex-start;
    padding-right: 4rem;
    min-height: 14rem;
    flex-direction: column; }
    @media (min-width: 568px) {
      .question__choice {
        flex-direction: row;
        align-items: center;
        padding-right: 0;
        min-height: auto; } }
  .question__left, .question__right {
    line-height: 1.375;
    flex-basis: 30%;
    font-size: 0.875rem;
    margin: 0; }
    @media (min-width: 568px) {
      .question__left, .question__right {
        font-size: 1rem; } }
  .question__left {
    margin-bottom: 4rem; }
    @media (min-width: 568px) {
      .question__left {
        margin-bottom: 0; } }
  .question__right {
    margin-top: auto; }
    @media (min-width: 568px) {
      .question__right {
        margin-top: 0; } }
  .question__range {
    position: absolute;
    width: 1.25rem;
    height: 100%;
    right: 0;
    top: 0; }
    @media (min-width: 568px) {
      .question__range {
        position: relative;
        flex-basis: 40%;
        margin: 0 2rem;
        height: 1.25rem; } }

.range {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media (min-width: 568px) {
    .range {
      flex-direction: row; } }
  .range__input {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.5px;
    margin-top: -0.5px;
    pointer-events: none; }
    @media (min-width: 568px) {
      .range__input {
        top: 100%;
        margin-top: 0; } }
  .range__label {
    background-color: #E4E4FA;
    display: block;
    width: inherit;
    height: calc(100% / 5);
    cursor: pointer; }
    @media (min-width: 568px) {
      .range__label {
        width: calc(100% / 5);
        height: inherit; } }
  .range__label:not(:last-child) {
    margin-bottom: 2px; }
    @media (min-width: 568px) {
      .range__label:not(:last-child) {
        margin-bottom: 0;
        margin-right: 2px; } }
  .range__label:first-of-type {
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem; }
    @media (min-width: 568px) {
      .range__label:first-of-type {
        border-top-left-radius: 10rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10rem; } }
  .range__label:last-of-type {
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem; }
    @media (min-width: 568px) {
      .range__label:last-of-type {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem; } }
  .range__input:checked + .range__label {
    background-color: #3B4BB6; }
  .range__input:focus + .range__label {
    outline: 2px solid #5CA3A2; }
    @media (pointer: coarse) {
      .range__input:focus + .range__label {
        outline: none; } }

.input {
  width: 20rem;
  max-width: 100%;
  padding: 1rem;
  display: block;
  color: #9C9DA1;
  background-color: #E4E4FA;
  font-size: 1rem;
  font-family: inherit;
  line-height: normal;
  border: none;
  border-radius: 0.75rem; }
  .input:valid, .input[readonly] {
    color: inherit; }

.button {
  display: block;
  margin: auto;
  margin-top: 2.5rem;
  background-color: #3B4BB6;
  color: #E6E7F0;
  padding: 1rem 2rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  -webkit-font-smoothing: antialiased; }

/*# sourceMappingURL=style.css.map */
